.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.no-row-margin {
    margin-left:0;
    margin-right: 0;
}

.flex {
    display:flex;
}

.inline {
    display: inline-block;
}

/* general layout styles */
.nopadding {
    padding: 0;
}

.nomargin {
    margin:0;
}

.padding-sm {
    margin: 0.625rem 0 !important;
}

.padding {
    margin: 2rem 0 !important;
}

.margin {
    margin:4rem;
}

.margin-sm {
    margin: 2rem;
}

.margin-lg {
    margin: 8rem;
}

.margintop {
    margin-top: 4rem;
}

.marginleft {
    margin-left: 4rem;
}

.marginright {
    margin-right: 4rem;
}

.marginleft-sm {
    margin-left: 2rem;
}

.marginright-sm {
    margin-right: 2rem;
}

.margintop-xs {
    margin-top: 1rem;
}

.marginleft-xs {
    margin-left: 1rem;
}

.margintop-sm {
    margin-top: 2rem;
}

.marginleft-sm {
    margin-left: 2rem;
}

.margintop-lg {
    margin-top: 8rem;
}

.marginbottom {
    margin-bottom: 4rem;
}

.marginbottom-xs {
    margin-bottom: 1rem;
}

.marginbottom-sm {
    margin-bottom: 2rem;
}

.marginbottom-lg {
    margin-bottom: 8rem;
}

.bordertop {
	border-top: 1px solid @gray-light;
}

.borderbottom {
	border-bottom: 1px solid @gray-light;
}

.fade {
    opacity: 1;
}