.admin-nav .spark-settings-tabs {
    .spark-settings-stacked-tabs {
        
        li {
            width: 100%;
            line-height: 2.6;
           
            a {
                display: block;
                padding-left: 1rem;
                &:hover {
                    background-color: darken(#444, 5%);
                    text-decoration: none;
                }
            }
        }
    }
}