.admin .modal {
	.modal-header {
		display: inline;
	}
	.close {
		float: right;
		font-size: 30px;
		line-height: 1;
		color: #000;
		text-shadow: 0 1px 0 #fff;
		opacity: .2;
		margin-top: -2px;
		filter: alpha(opacity=20);
		margin-right: 0;
	}

	button.close {
		padding: 0;
		cursor: pointer;
		background: 0 0;
		border: 0;
		line-height: 0.7;
		-webkit-appearance: none;
	}
}