.admin {
	font-size: 18px;
	
	&.with-navbar {
		padding-top: 100px;
	}

	.navbar-inverse {
		border-top: 6px solid $brand-primary;
		color: #FFF;
		background: #000;
		margin-bottom: 0;
	}

	.main {
	}

	.admin-nav {
		padding-left: 0;
		padding-right: 0;
		background: #444;

		.spark-settings-tabs {
			li {
				a {
					background-color: #444;
					color: #ccc;
					border-bottom: 1px solid #666;
				}
			}

			li.active {
				a {
					background-color: #666;
					color: #ccc;
					border-bottom: 1px solid #888;
					border-top: 1px solid #888;
					border-left: 6px solid $brand-primary;
				}
			}

		}

		.spark-settings-stacked-tabs a i {
			color: #ccc;
		}
	}

	.admin-main {
		min-height: 100vh;
		margin-top: 2rem;
	}

	.admin-right {
		margin-top: 6.30rem;
	}

	font-family: sans-serif;
	color: #8c8c8c;

	.logo {
		height: 50px;
	}

	h1 {
		font-size: 2.5rem;
		margin-top:0;
		text-transform: capitalize;
		display: inline-block;
		margin-right: 30px;
	}

	h2, h3 {
		font-size: 2.5rem;
		margin-top: 0;
		margin-bottom: 1rem;
		text-transform: capitalize;
	}

	small, .small {
    	font-size: 75%;
	}

	ul {
		list-style-type: none;
    	margin-left: 0;
    	padding-left: 0;
	}

	.is-featured {
	}

	&.files {
		.media-entry {
			height: 300px;
			border: 1px solid $gray-lighter;
			text-align: center;

			.title {
				margin-top: 1rem;
				margin-bottom: 1rem;
			}

			.link {
				margin-top: 1rem;
				margin-bottom: 1rem;
			}

			.full-width {
				object-fit: cover;
  				width: 100%;
  				height: 300px;
			}
			
			.placeholder-icon {
				margin-top:60px;
				color: $gray-lighter;
			}

			.btn-default {
				border: 0px;
			}
		}
	}

	.control-label {
    	font-weight: 600;
    	margin-top: 1rem;
	}

	.form-control {
	    display: block;
	    width: 100%;
	    padding: 4px 8px;
	    font-size: 18px;
	    line-height: 1.6rem;
	    border-radius: 0px;
	}

	.added-fields {
		padding-left: 0;
	}

	.btn-default, .btn-default:hover {
		color: #ccc;
		font-family: sans-serif;
		border: 1px solid;
    	border-color: #ccc;
    	padding: 7px 12px;
    	background-color: transparent;
	}

	.btn-delete {
		padding:0;
		color: $red;
		margin-top: -4px;
	}

	.btn-delete:hover {
		color: black;
	}

	.tags-container {
	    margin-left: 1.5rem;
    	padding-top: 4rem;
	}

	.btn-tag {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}

	.mce-edit-area {
		padding: 1rem;
	}

	.admin-main .col-md-12.margintop-sm > .row {
		margin-bottom: 0.5rem;
	}
}