<template>
    <div class="addbysearch-editor" @mouseleave="(event) => { setInputFocus(false)  }" >
        
        
        <div  :class="(inputFocused) ? 'input-and-results-container items-box-open': 'input-and-results-container'">
            <label class="control-label" for="">{{ fieldLabel }}</label> <span v-if="useFileUploader">| <a href="#" @click="(e) => { toggleUploader(e, null, true) }"> <small v-if="showUploader">hide uploader</small><small v-else>open uploader</small></a></span>
            
            <div v-show="!hideSearch" :class="(this.isLoading) ? 'text-query-input-container ajax-loading' : 'text-query-input-container'">
                <input 
                    :disabled="textQueryDisabled"
                    type="text" 
                    :v-model="textQuery" 
                    :placeholder="searchInputPlaceholder" 
                    @mouseenter="(event) => { setInputFocus(true); }"
                    @keyup="(event) => { toggleLoadingIcon(true); updateTextQuery(event, this) }" 
                    class="form-control">

                   <button class="btn-get-all" type="button" @click.prevent="browseAll"><span v-show="!textQueryDisabled">Browse All</span><span v-show="textQueryDisabled">Exit Browse</span></button>
            </div>
            
            <div :class="(paginatedResultItems.length) ? 'has-items items-box' : 'items-box'" v-show="showItemsBox" @mouseleave="(event) => { setInputFocus(false);}">
                <ul class="box-of-search-results">
                    <li :data-index="index" v-for="(element, index) in paginatedResultItems" v-bind:key="index">
                                                
                        <div class="image-field-container" v-if="fileIsImage(element[imageFieldName])" :style="'background-image: url(' + imagePathWithPrefix(element[imageFieldName]) + ')'"></div>
                        <div class="image-field-container" v-if="fileIsDoc(element[imageFieldName])">
                            <thumb :file-type="element.file_type"></thumb>
                        </div>

                        <b>{{ element[displayValueLeft] | truncate(20, '...') }} | {{ element[displayValueRight] | truncate(10, '...') }}</b> 

                        <button @click="(event) => { addItemToSelection(event, index) }" type="button" class="btn-item-add">
                            <i class="fa fa-plus-circle"></i>
                        </button>
                    </li>
                </ul>

                <ul v-if="selectedItems.length && useSideBySideOption === true" class="box-of-selected-items">
                    <li><strong>Selected Items</strong></li>
                    <li :data-index="index" v-for="(element, index) in selectedItems" v-bind:key="index">
                        <div class="image-field-container" v-if="imageFieldName.length" :style="'background-image: url(' + imagePathWithPrefix(element[imageFieldName]) + ')'"></div>
                        <b>{{ element[displayValueLeft] | truncate(10, '...') }} | {{ element[displayValueRight] | truncate(10, '...') }}</b> 
                    </li>
                </ul>

                <ul class="items-pagination">
                    <li v-if="currentPage !=1"><button @click="previousPage">Previous</button></li>
                    <li v-if="paginateResults(searchResultItems, currentPage+1).length"><button @click="nextPage">Next</button></li>
                </ul>
            </div>
        </div>
        
        <file-upload 
            v-show="useFileUploader && showUploader" 
            field-name="title" 
            add-by-search-component-id="componentId"
            :image-path-prefix="imagePathPrefix"
            @onUploadSuccess="addFileToList"
            @clearFailedUpload="() => { this.selectedFile = {} }"
            :attachToId="attachToId"
            :lang="lang"
            :add-by-search-selected-file="selectedFile">

            <button slot="header" @click="(event) => { toggleUploader(event, false) }" type="button" class="btn-item-hide-component">
                <i class="fa fa-times-circle"></i> hide
            </button>
            
        </file-upload>

        <input 
            type="hidden"
            :value="storedSelectedItems"
            :name="'addbysearch_' + fieldName">
            
        <div class="draggable-container" v-if="selectedItems.length">
            <span>selected</span>
            <draggable element="span" class="selected-items" v-model="selectedItems" @start="drag=true" @end="drag=false" @sort="onSort">
                
                <div :data-index="index" v-for="(element, index) in selectedItems" v-bind:key="index">
                    
                    
                    <div class="image-field-container" v-if="fileIsImage(element[imageFieldName])" :style="'background-image: url(' + imagePathWithPrefix(element[imageFieldName]) + ')'"></div>
                    <div class="image-field-container" v-if="fileIsDoc(element[imageFieldName])">
                        <thumb :file-type="element.file_type"></thumb>
                    </div>
                    
                    <b>{{ element[displayValueLeft] | truncate(20, '...') }} | {{ element[displayValueRight] | truncate(10, '...') }}</b> <b v-if="useFileUploader"><span @click="(e) => { updateSelectedFile(e, element) }" class="quick-edit">{{ (allowFieldEdit === true) ? 'Details/Edit' : 'Details' }} </span></b>
                     <button @click="(event) => { removeItem(event, index) }" type="button" class="btn-item-remove">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
                
            </draggable>
        </div>
    </div>
</template>

<script>
import Vuex from 'vuex'
import Draggable from 'vuedraggable'
import FileUpload from './FileUpload';
import Thumb from './Thumb';
import md5 from 'md5';
import axios from 'axios';
const uuidv4 = require('uuid/v4');
import _ from 'lodash';

export default {
    name: 'AddBySearchEditor',
    components: {
        Draggable,
        FileUpload,
        Thumb
    },
    props: {
        fieldName: {
            type: String,
        },
        lang: {
            type: String,
            default: 'en'
        },
        allowFieldEdit: {
            type: Boolean,
            default: false
        },
        initialValue: {
            type: Object
        },
        ajaxUrl: {
            type: String,
            default: ''
        },
        meta: {
            type: Object,
            default: {}
        },
        useFileUploader: {
            type: Boolean,
            default: false
        },
        imageFieldName: {
            type: String,
            default: ''
        },
        imagePathPrefix: {
            type: String,
            default: ''
        },
        itemsPerPage: {
            type: Number,
            default: 5
        },
        useSideBySideOption: {
            type: Boolean,
            default: false
        },
        preloadedSearchItemsGlobalVariableName: {
            type: String,
            default: null
        },
        searchFields: {
            type: String,
            default: "title,slug"
        },
        displayValueLeft: {
            type: String,
            default: 'id'
        },
        displayValueRight: {
            type: String,
            default: 'title'
        },
        fieldLabel: {
            type: String,
            default: 'Attachments'
        },
        buttonLabel: {
            type: String,
            default: 'Search'
        },
        enableDebug: {
            type: Boolean,
            default: false
        }
    },
    data: function () {
        return {
            componentId: null,
            isLoading: false,
            showUploader: false,
            selectedFile: null,
            inputFocused: false,
            textQueryDisabled: false,
            hideSearch: false,
            defaults: {
                textQuery: '',
                selectedItems: [],
                searchResultItems: [],
                paginatedResultItems: [],
                storedSearchResultItems: [],
                searchResultItemsCached: [],
                currentPage: 1
            }
        }
    },
    created() {
        this.componentId = uuidv4();
        this.$store.dispatch('addbysearch/addComponentToStore', { componentId: this.componentId });

        if(this.initialValue.length) {
            this.selectedItems = this.initialValue.slice(0);
            this.sortSelectedItemsOnLoad();
        }

        if(this.preloadedSearchItemsGlobalVariableName) {
            this.storedSearchResultItems = window[this.preloadedSearchItemsGlobalVariableName];
        }

    },
    computed: {
        searchInputPlaceholder: function() {
            if(this.useFileUploader === true) {
                return 'Click upload or type to search for existing media/files.';
            }
            return 'Type Keywords here.';
        },
        selectedItems: {
            get: function() {
                return this.componentStateData('selectedItems');
            },
            set: function(value) {
                this.$store.dispatch('addbysearch/updateItems', { items: value, componentId: this.componentId });
            }
        },
        storedSelectedItems: function() {
            return JSON.stringify({
                items: this.selectedItems.map( (i) => { return { id : i.id, order: i.order } } )
            });
        },
        paginatedResultItems: function() {
            return this.componentStateData('paginatedResultItems');
        },
        storedSearchResultItems: function() {
            return this.componentStateData('storedSearchResultItems');
        },
        searchResultItems: function() {
            return this.componentStateData('searchResultItems');
        },
        textQuery: function() {
            return this.componentStateData('textQuery');
        },
        currentPage: function() {
            return this.componentStateData('currentPage');
        },
        showItemsBox: function() {
            if(this.textQueryDisabled) {
                return true;
            }
            return this.inputFocused;
        },
        shouldGetAll: function() {
            return this.textQueryDisabled;
        }
    },
    methods: {
        addFileToList(newItemToAdd) {
            //newItemToAdd[this.imageFieldName] = newItemToAdd.file_name;
            this.addItemToSelectionFromUploader(newItemToAdd);
        },
        getComponentState(componentId) {
            let picked = null;
            this.$store.state.addbysearch.components.forEach((c) => {
                if(c.componentId == componentId) {
                    picked = c;
                }
            });
            return picked;
        },
        setInputFocus(bool) {
            setTimeout(() => {
                this.inputFocused = bool;
            }, 500);
        },
        componentStateData(field) {
            let state = this.getComponentState(this.componentId);
            if(typeof state == 'undefined') {
                return this.defaults[field];
            }
            if(typeof state[field] == 'undefined') {
                return this.defaults[field];
            }
            return state[field];
        },
        onSort(e, a) {
            let sorted = this.applyOrderField(this.selectedItems.slice(0));
            this.$store.dispatch('addbysearch/updateItems', { items: sorted, componentId: this.componentId });
            this.removeHighlightedFromAll();
        },
        sortSelectedItemsOnLoad() {
            let newArray = [];
            let sorted = this.selectedItems.slice(0);
            sorted.sort(function(a, b){
                return a.order - b.order;
            });
            this.$store.dispatch('addbysearch/updateItems', { items: sorted, componentId: this.componentId });
        },
        applyOrderField(itemsToSort) {
            let newArray = [];
            itemsToSort.forEach((item, index) => {
                item.order = index;
                newArray.push(item);
            });
            return newArray;
        },
        removeHighlightedFromAll() {
            setTimeout(() => { 
                let selectedItems = this.selectedItems.slice(0);
                selectedItems.map((item) => {
                    item.highlighted = false;
                });
                this.$store.dispatch('addbysearch/updateItems', { items: selectedItems, componentId: this.componentId });
            }, 1000);
        },
        setHighlighted(event, element) {
            let newArray = [];
            let selectedItems = this.selectedItems.slice(0);
            let highlightedId = null;

            selectedItems.forEach((item, index) => {
                if(item.id == element.id) {
                    item.highlighted = true;
                } else {
                    item.highlighted = false;
                }
                newArray.push(item);
            });

            this.$store.dispatch('addbysearch/updateItems', { items: newArray, componentId: this.componentId });
        },
        makeConfig() {
            return JSON.stringify({
                items: this.items
            });
        },
        printDebugInfoToConsole() {
            console.log(JSON.parse(this.makeConfig()));
        },
        removeItem(e, elementIndex) {            
            let newArray = [];
            this.selectedItems.forEach((item, index) => {
                if(elementIndex == index) {
                    return;
                }
                newArray.push(item);
            });
            this.$store.dispatch('addbysearch/updateItems', { items: newArray, componentId: this.componentId  });
            // add item back to results
            this.doFiltering(this.textQuery, this.storedSearchResultItems, true, this.shouldGetAll);
        },
        toggleLoadingIcon(isLoading) {
            this.isLoading = isLoading;
        },
        updateTextQuery: _.debounce((e, self) => {
            self.$store.dispatch('addbysearch/updateTextQuery', { textQuery: e.srcElement.value, componentId: self.componentId });
            self.searchForItems(e);
        }, 10),
        browseAll: function(e) {
            if(this.textQueryDisabled === false) {
                this.textQueryDisabled = true;
                this.toggleUploader(e, false);
            } else {
                this.textQueryDisabled = false;
                this.clearSearchResultItems();
                return;
            }
            this.toggleLoadingIcon(true);
            this.searchForItems({}, true);
        },
        clearSearchResultItems() {
            this.$store.dispatch('addbysearch/updateSearchResultItems', { items: [], componentId: this.componentId });
            this.$store.dispatch('addbysearch/updatePaginatedResultItems', { items: [],  componentId: this.componentId });
        },
        doFiltering(textQuery, results, fromBackend=false, getAll=false) {
            
            if(getAll === false) {
                if(textQuery.length < 3) {
                    this.clearSearchResultItems();
                    return;
                }
            }
            let foundFromResults = [];
            results.forEach((result, index) => {
                let itemAlreadyInResults = false;
                this.selectedItems.forEach((selectedItem) => {
                    if(selectedItem.id == result.id)  {
                        itemAlreadyInResults = true;
                        return;
                    }
                });
                if(itemAlreadyInResults === true) {
                    return;
                }

                // fast frontend filtering only (not as great compared to what can be done serverside)

                if(fromBackend === false) {
                    let match = false;
                    results.forEach((fieldName) => {
                        if(match === true) {
                            return;
                        }

                        if(typeof result[fieldName] == 'undefined') return;

                        let filteredFieldValue = result[fieldName].replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&").toLowerCase();
                        let regex = new RegExp(textQuery.toLowerCase(), 'gi');
                        
                        if(filteredFieldValue.search(regex) > -1 ) {
                            foundFromResults.push(result);
                            match = true;
                        }
                    });
                } else {
                    foundFromResults.push(result);
                }
            });
            this.$store.dispatch('addbysearch/updateSearchResultItems', { items: foundFromResults, componentId: this.componentId });
            // pagination
            this.$store.dispatch('addbysearch/updatePaginatedResultItems', { items: this.paginateResults(this.searchResultItems),  componentId: this.componentId });
            
        },
        paginateResults(results, page=null) {
            let currentPage = (page) ? page : this.currentPage;
            return results.filter((item, index) => {
                if(currentPage == 1 && index < this.itemsPerPage) {
                    return true;
                } else if(
                    currentPage > 1 && 
                    (index >= (this.itemsPerPage * (currentPage-1))) && 
                    (index < this.itemsPerPage * (currentPage))) {
                    return true;
                } 
                return false;
            });
        },
        nextPage(e) {
            e.preventDefault();
            this.$store.dispatch('addbysearch/nextPage', { componentId: this.componentId });
            this.doFiltering(this.textQuery, this.storedSearchResultItems, this.ajaxUrl.length, this.shouldGetAll);
            this.setInputFocus(true);
        },
        previousPage(e) {
            e.preventDefault();
            this.$store.dispatch('addbysearch/previousPage', { componentId: this.componentId });
            this.doFiltering(this.textQuery, this.storedSearchResultItems, this.ajaxUrl.length, this.shouldGetAll);
            this.setInputFocus(true);
        },
        searchForItems(e, getAll=false) {
            let self = this;
            if(this.ajaxUrl.length) {
                let params = {};
                let fields = this.searchFields;
                params.fields = fields;
                
                if(getAll === true) {
                    params.get_all = true;
                }

                params.text_query = this.textQuery;

                axios.get(this.ajaxUrl, { params: params }).then(response => {
                    if(response.status == 200) {
                        this.$store.dispatch('addbysearch/updateStoredSearchResultItems', { items: response.data.data, componentId: this.componentId });
                        self.doFiltering(self.textQuery, self.storedSearchResultItems, true, getAll);
                        self.toggleLoadingIcon(false);
                    } else {
                         self.toggleLoadingIcon(false);
                    }
                });
            }
            // try preloaded search results if any
            if(this.storedSearchResultItems.length) {
                this.doFiltering(this.textQuery, this.storedSearchResultItems);
                setTimeout(() => { this.toggleLoadingIcon(false); }, 700);
            }
        },
        addItemToSelectionFromUploader(newItem) {
            let existingSelection = this.selectedItems.slice(0);
            existingSelection.unshift(newItem);
            existingSelection = this.applyOrderField(existingSelection);
            this.$store.dispatch('addbysearch/updateItems', { items: existingSelection, componentId: this.componentId });
        },
        addItemToSelection(event, index) {

            let existingSelection = this.selectedItems.slice(0);
            let clickedResult = this.paginatedResultItems[index];
            let newItem = Object.assign({}, clickedResult);
            existingSelection.unshift(newItem);
            existingSelection = this.applyOrderField(existingSelection);
            this.$store.dispatch('addbysearch/updateItems', { items: existingSelection, componentId: this.componentId });

            let resultsWithoutSelectedItem = [];
            this.searchResultItems.forEach(function(item, index) {
                if(clickedResult.id == item.id) {
                    return;
                }
                resultsWithoutSelectedItem.push(item);
            });
            this.$store.dispatch('addbysearch/updateSearchResultItems', { items: resultsWithoutSelectedItem, componentId: this.componentId });
            this.doFiltering(this.textQuery, this.storedSearchResultItems, true, this.shouldGetAll);
            
        },
        toggleUploader(e, override=null, clearUploaderImage=false) {
            e.preventDefault();
            if(clearUploaderImage === true) {
                this.updateSelectedFile(e, false);
            }
            if(override != null) {
                this.showUploader = override;
                return;
            }
            if(this.showUploader === true) {
                this.showUploader = false;
                this.hideSearch = false;
                return;
            }
            this.showUploader = true;
            this.inputFocused = false;
            this.hideSearch = true;
            this.clearSearchResultItems();
            
        },
        updateSelectedFile(e, selectedFile) {
            e.preventDefault();
            this.selectedFile = {};
            if(!selectedFile) {
                return;
            }
            this.showUploader = true;
            this.selectedFile.file = selectedFile.file_name;
            this.selectedFile.thumbnail = selectedFile[this.imageFieldName];
            this.selectedFile.attachmentId = selectedFile.id;
            this.selectedFile.fileType = selectedFile.file_type;
            this.selectedFile.title = (selectedFile.title) ? selectedFile.title : selectedFile.file_name;
        },
        imagePathWithPrefix(imagePath) {
            if(typeof imagePath == 'undefined') {
                return '';
            }
            if(imagePath.search(/http?s/) > -1) {
                return imagePath;
            }
            return this.imagePathPrefix + '/' + imagePath;
        },
        fileIsImage(file) {
            if(typeof file == 'undefined' || file === null) {
                return false;
            }
            return (file.search(/jpeg|png|svg|gif|svg/) > -1)
        },
        fileIsDoc(file) {
            if(typeof file == 'undefined' || file === null) {
                return false;
            }
            return (file.search(/jpeg|png|svg|gif|svg/) == -1)
        },
    }
}
</script>

<style>
    .addbysearch-editor {
        padding: 11px 11px 11px 0;
        border-bottom: solid 4px #e2e2e2;
        margin-top: 40px;
        min-height: 400px;
    }
    .addbysearch-editor .text-query-input-container {
        position: relative;
    }
    .addbysearch-editor .text-query-input-container {
        width: 60%;
    }
    .addbysearch-editor .text-query-input-container input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #9c9c9c;
        font-size: 15.7px;
    }
    .addbysearch-editor .text-query-input-container input::-moz-placeholder { /* Firefox 19+ */
        color: #9c9c9c;
        font-size: 15.7px;
    }
    .addbysearch-editor .text-query-input-container input:-ms-input-placeholder { /* IE 10+ */
        color: #9c9c9c;
        font-size: 15.7px;
    }
    .addbysearch-editor .text-query-input-container input:-moz-placeholder { /* Firefox 18- */
        color: #9c9c9c;
        font-size: 15.7px;
    }
    .addbysearch-editor .text-query-input-container.ajax-loading:after {
        content: '';
        display: block;
        height: 26px;
        width: 26px;
        background-image: url(/raven/img/spinner.gif);
        position: absolute;
        right: 4px;
        top: 5px;
        background-size: 241%;
        background-repeat: no-repeat;
        background-position: -21px -10px;
        z-index: 100;
        transform: scale(1.2);
    }
    .addbysearch-editor .flip-list-move {
        transition: transform 0.5s;
    }
    .addbysearch-editor .no-move {
        transition: transform 0s;
    }
    .addbysearch-editor div[draggable=false] {
        transition: background-color 2s;
    }
    .addbysearch-editor div[draggable=true],
    .addbysearch-editor .recently-dragged {
        background-color: rgb(213, 249, 251) !important;
    }
    .addbysearch-editor .draggable-container > span:first-child  {
        min-height: 30px;
        display: block;
        padding-top: 24px;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 13px;
    }
    .addbysearch-editor > .draggable-container > span > div {
        background-color: #FFFFFF;
        border: none;
        color: #000;
        width: 100%;
        margin: auto;
        min-height: 20px;
        text-align: left;
        padding-left: 20px;
        border: solid thin #e0e0e0;
        /* margin-bottom: 10px;
        margin-top: 10px; */
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        cursor: move;
    }
    .addbysearch-editor .draggable-container span div:nth-child(odd) {
        //background-color: #FFFFFF;
    }
    .addbysearch-editor > .draggable-container > span > div:before {
        content: '';
        height: 100%;
        width: 10px;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/carbon_fibre.png');
        background-repeat: repeat;
        filter: invert(139%) brightness(102%);
        background-size: 145%;
    } 
    .addbysearch-editor .draggable-container button {
        display: inline-block;
    }
    .addbysearch-editor .btn-item-remove {
        background: transparent;
        color: #9c9c9c;
        cursor: pointer;
        float: right;
        margin-right: 10px;
        border: none;
        position: absolute;
        right: -10px;
        top: 0;
        font-size: 17px;
        margin-top: 10px;
        margin-right: 17px;
    }
    .addbysearch-editor .btn-get-all {
        background-color: #007f95;
        color: #efefef;
        position: absolute;
        right: -114px;
        top: 0;
        border: #007f95;
        font-size: 14.3px;
        padding: 6px 15px 6px 16px;
        text-transform: lowercase;
        outline: none;
    }
    .addbysearch-editor .btn-item-add {
        background: transparent;
        color: #59c1b0;
        cursor: pointer;
        float: right;
        margin-right: 10px;
        border: none;
        position: absolute;
        right: -10px;
        top: 12px;
        font-size: 17px;
        margin-right: 17px;
    }
    .addbysearch-editor .btn-item-remove:hover {
        color: red;
    }
    .addbysearch-editor .btn-item-remove i {
        color: black;
    }
    .items-pagination button {
        padding: 5px 15px;
        display: block;
        font-size: 16px;
        margin-top: 0;
        line-height: 0;
        text-transform: capitalize;
        background: #6392a2;
        outline-color: #6392a2;
        color: #FFF;
        padding: 13px 5px 13px 5px;
        font-size: 13.3px;
        width: 100%;
    }
    .addbysearch-editor .input-and-results-container {
        position: relative;
    }
    .addbysearch-editor .items-box:not(.has-items) .items-pagination  {
        display: none;
    }
    .addbysearch-editor .items-box {
        background: #FFFFFF;
        position: absolute;
        z-index: 100;
        box-shadow: 2px 2px 2px -2px;
        left: 0;
        width: 60%;
        height: auto;
        display: block;
    }
    @media screen and (max-width: 960px) {
        .addbysearch-editor .items-box {
            width: 100%;
        }
    }
    .addbysearch-editor .items-box:after {
        content: '';
        height: 200px;
        display: block;
        width: 100%;
        background: transparent;
        position: absolute;
        top: 100%;
    }
    .addbysearch-editor .items-box ul {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        float: left;
        margin-bottom: 0;
    }
    /*
    .addbysearch-editor .selected-items {
        max-height: 300px;
        display: block;
        overflow-y: scroll;
        border: solid thin #CCC;
    }*/
    .addbysearch-editor .box-of-search-results {
        background-color: #FFF;
    }
    .addbysearch-editor .items-box ul li {
        position: relative;
        margin-left: 0;
        padding-left: 9px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-block;
        width: 100%;
    }
    .addbysearch-editor .items-box ul li:hover {
        background-color: #f1f1f1;
    }
    .addbysearch-editor ul b  {
        font-weight: lighter;
        font-size: 12px;
        cursor: pointer;
    }
    .addbysearch-editor span > div > b {
        font-size: 12px;
        color: #404040;
        font-weight: lighter;
        cursor: pointer;
    }
    .addbysearch-editor .image-field-container {
        width: 60px;
        height: 34px;
        overflow: hidden;
        float: left;
        clear: left;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: transparent !important;
        background-position: center;
        border: solid thin #CCC;
    }
    .addbysearch-editor .image-field-container + b {
        line-height: 36px;
        margin-left: 10px;
    }
    .addbysearch-editor .image-field-container div {
        background-color: transparent !important;
    }
    .addbysearch-editor .image-field-container div svg {
        font-size: 25px;
        display: block;
        margin: auto;
        margin-top: 3px;
        color: gray;
    }
    .addbysearch-editor .items-box ul.items-pagination {
        border-top: solid thin #CCC;
        background-color: #FFF;
        padding-bottom: 8px;
        padding-top: 8px;
    }
    .addbysearch-editor .items-box ul.items-pagination li  {
        float: left;
        width: auto;
    }
    .addbysearch-editor .quick-edit {
        color: #6392a2;
        text-decoration: underline;
    }

</style>