<template>
    <div class="add-multiple-editor">
        
        <button type="button" @click="addItem" class="add-multiple-btn btn btn-primary btn-lg margintop-sm" >{{ buttonLabel }}</button>
        <b class="add-btn-help-text" v-if="addButtonHelpText">{{ addButtonHelpText}}</b>
        
        <div class="draggable-container">
            <draggable element="span" v-model="$store.state[parentItemsName][parentIndex][childItemsName]" :options="{group:'items'}" @start="drag=true" @end="drag=false" @sort="onSort">
                
                <div :data-index="index" v-for="(element, index) in $store.state[parentItemsName][parentIndex][childItemsName]">

                    <input 
                        v-if="enablePropertyField"
                        type="text" 
                        v-model="element.itemPropertyValue"
                        placeholder="property name">

                    <input 
                        v-if="enableCheckboxField"
                        type="checkbox"
                        v-model="element.itemCheckboxState">

                    <input 
                        type="text" 
                        v-model="element.itemValue"
                        placeholder="value">
                    
                    <button @click="(event) => { removeItem(event, index) }" type="button" class="btn-item-remove">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
                
            </draggable>
        </div>
    </div>
</template>

<script>
import Draggable from 'vuedraggable'
import md5 from 'md5';

export default {
    name: 'AddMultipleEditor',
    components: {
        Draggable
    },
    props: {
        buttonLabel: {
            type: String,
            default: 'Add item'
        },
        addButtonHelpText: {
            type: String,
        },
        enablePropertyField: {
            type: Boolean,
            default: false
        },
        enableCheckboxField: {
            type: Boolean,
            default: false
        },
        parentIndex: {
            type: Number,
        },
        store: {
            type: Object
        },
        parentItemsName: {
            type: String
        },
        childItemsName: {
            type: String
        }
    },
    data: function () {
        return {}
    },
    methods: {
        onSort(e) {
            let newArray = [];
            this.getItemStoreDataPath().forEach((item, index) => {
                item.order = index;
                newArray.push(item);
            });
            this.$emit('onEdit', { itemData: newArray, parentIndex: this.parentIndex });
        },
        getItemStoreDataPath() {
            return this.$store.state[this.parentItemsName][this.parentIndex][this.childItemsName];
        },
        removeItem(e, elementIndex) {         
            let newArray = [];
            this.getItemStoreDataPath().forEach((item, index) => {
                if(elementIndex == index) {
                    return;
                }
                newArray.push(item);
            });
            this.$emit('onEdit', { itemData: newArray, parentIndex: this.parentIndex });
        },
        addItem(e) {
            let allItems = this.getItemStoreDataPath();
            allItems.push({
                itemCheckboxState: 0,
                order: this.getItemStoreDataPath().length
            });
            this.$emit('onEdit', { itemData: allItems, parentIndex: this.parentIndex });
        }
    }
}
</script>

<style>
    .add-multiple-editor .add-multiple-btn {
        padding: 5px 9px;
        font-size: 13px;
        line-height: 1.3333333;
        background-color: #006f95;
        border-color: #005471;
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: bold;
        border-width: 1px;
    }
    .add-multiple-editor .flip-list-move {
        transition: transform 0.5s;
    }
    .add-multiple-editor .no-move {
        transition: transform 0s;
    }
    .add-multiple-editor .sortable-ghost {
        opacity: .5;
        background: #C8EBFB;
    }
    .add-multiple-editor .draggable-container span  {
        min-height: 30px;
        display: block;
        padding-top: 15px;
    }
    .add-multiple-editor .draggable-container span div {
        background-color: #f1f1f1;
        border: none;
        color: #000;
        width: 100%;
        margin: auto;
        min-height: 20px;
        text-align: left;
        padding-left: 12px;
        margin-bottom: 2px;
        padding-top: 6px;
        padding-bottom: 6px;
        position: relative;
        cursor: move;
    }
    .add-multiple-editor .draggable-container span div:before {
        content: '';
        height: 100%;
        width: 10px;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/carbon_fibre.png');
        background-repeat: repeat;
        filter: invert(139%) brightness(102%);
        background-size: 145%;
    }
    .add-multiple-editor .draggable-container span div:nth-child(odd) {
        background-color: #e6e6e6;
    }
    .add-multiple-editor .draggable-container span div input {
        border: none;
        font-size: 12px;
        padding: 3px 10px 3px 10px;
        color: #676767;
        outline: none;
        width: 45%;
    }
    .add-multiple-editor .draggable-container span div input[type="checkbox"] {
        float: left;
        display: inline-block;
        width: 22px;
        margin-top: 8px;
        margin-left: 0;
    }
    .add-multiple-editor .draggable-container span div input:focus {
        outline: #03a9f4ba solid 2px;
        color: #616161;
        font-weight: 400;
    }
    .add-multiple-editor .draggable-container select {
        display: inline-block;
    }
    .add-multiple-editor .draggable-container button {
        display: inline-block;
    }
    .add-multiple-editor .btn-item-remove {
        background: transparent;
        color: #9c9c9c;
        float: right;
        margin-right: 10px;
        border: none;
        position: absolute;
        top: -4px;
        right: -10px;
        font-size: 17px;
        margin-top: 13px;
        margin-right: 12px;
    }
    .add-multiple-editor .btn-item-remove:hover {
        color: red;
    }
    .add-multiple-editor .btn-item-remove i {
        color: black;
    }
    .add-multiple-editor .add-btn-help-text {
        font-size: 11px;
        color: gray;
        position: relative;
        top: 9px;
    }
    .draggable-container .add-multiple-editor .draggable-container {
        margin-top: 10px;
        padding-left: 0;
        padding-right: 6px;
    }
</style>