<template>
    <div class="field-groups-editor">
        <span class="hint"><b>Hint: </b>Command + click on a row to add a new item beneath that row.</span><br>
        <button type="button" @click="addItem" class="btn btn-primary btn-md margintop-sm" >Add Field</button>
        <button type="button" @click.prevent="duplicateSelected" :disabled="!this.selectedItems.length" class="btn btn-secondary btn-md margintop-sm" >Duplicate Selected</button>
        <button type="button" @click.prevent="exportAndCopyConfig" class="btn btn-secondary btn-md margintop-sm" >Export</button>
        <button type="button" @click.prevent="showImportConfig" class="btn btn-secondary btn-md margintop-sm" >Import</button>
        
        <div v-if="showImportconfigBox">
            <div class="form-row">
                <div class="col">
                    <textarea class="import-textarea" v-model="configToImport" placeholder="Paste JSON configuration here."></textarea>
                    <button class="btn btn-primary btn-md margintop-sm" @click.prevent="doImport">Import this configuration</button>
                    <a href="#" class="hide-import" @click.prevent="showImportconfigBox=false">Hide import</a>
                </div>
            </div>
        </div>
        

        <div class="draggable-container">
            <draggable element="span" v-model="storedData" :options="{group:'items'}" @start="drag=true" @end="drag=false">
                
                <div :data-index="index" class="form-row" v-for="(element, index) in storedData" @click.prevent="(e) => { addNewRowBelowItem(e, index) }">
                    
                    <div class="col">
                        <input class="item-checkbox" type="checkbox" v-model="element.checked">
                        <input 
                            class="form-control"
                            type="text" 
                            @keydown="(event) => { updateFieldNameValue(event, index) }" 
                            v-model="element.fieldNameValue"
                            :name="'fieldgroups[group_field_' + index + '][name]'">
                    </div>

                    <div class="col">
                        <select 
                            class="custom-select" 
                            @change="(event) => { fieldTypeSelectHandler(event, index) }"
                            :name="'fieldgroups[group_field_' + index + '][type]'">
                            
                            <option value="">Select field type</option>
                            <option :value="FieldTypeOption" :selected="(element.fieldTypeOptionValue == FieldTypeOption) ? 'selected' : ''" v-for="FieldTypeOption in SelectOptions">{{ FieldTypeOption }}</option>
                        </select>
                    </div>
                    
                    <div class="col">
                        <input 
                            type="text" 
                            class="form-control"
                            @keydown="(event) => { updateDescriptionValue(event, index) }" 
                            v-model="element.descriptionValue" 
                            :name="'fieldgroups[group_field_' + index + '][description]'"
                            placeholder="field description">
                    </div>
                    
                    <div class="col col-last">
                        <input 
                            type="text" 
                            class="form-control"
                            @keydown="(event) => { updateAttribsValue(event, index) }" 
                            v-model="element.attribsValue" 
                            :name="'fieldgroups[group_field_' + index + '][attribs]'"
                            placeholder="attribs (in JSON format)">

                        <button @click="(event) => { removeItem(event, index) }" type="button" class="btn-item-remove">
                            <i class="fa fa-times-circle"></i>
                        </button>
                    </div>
                    
                    <input 
                        type="hidden" 
                        v-model="index"
                        :name="'fieldgroups[group_field_' + index + '][order]'">

                    <input 
                        v-if="element.fieldId"
                        type="hidden" 
                        v-model="element.fieldId"
                        :name="'fieldgroups[group_field_' + index + '][field_id]'">
                    
                </div>
                
            </draggable>
        </div>
    </div>
</template>

<script>
import Draggable from 'vuedraggable'
import md5 from 'md5';


export default {
    name: 'FieldGroupsEditor',
    components: {
        Draggable
    },
    props: [],
    data: function () {
        return {
            storedData: [],
            showImportconfigBox: false,
            SelectOptions: [
                'text',
                'textarea',
                'select',
                'checkbox',
                'file',
                'image',
                'addbysearch',
                'json_editor',
                'horizontal_rule',
                'help_section',
                'related_posts'
            ]
        }
    },
    computed: {
        fieldsConfig() {
            let config = this.storedData.slice(0).map((f) => {
                let iCopy = Object.assign({}, f);
                if(typeof iCopy.fieldId != 'undefined') {
                    delete iCopy.fieldId;
                }
                return iCopy;
            });
            return JSON.stringify(config);
        },
        selectedItems() {
            return this.storedData.filter(f => f.checked);
        }
    },
    created() {
        if(fieldGroupFields.length) {
            this.storedData = fieldGroupFields.map((f) => {
                return {
                    fieldId: f.id,
                    fieldNameValue: f.name,
                    fieldTypeOptionValue: f.type,
                    descriptionValue: f.description,
                    attribsValue: f.attribs,
                    order: f.order
                }
            }).sort((a, b) => {
                return (a.order > b.order) ? 1 : ((b.order > a.order) ? -1 : 0);
            });
        }
    },
    methods: {
        exportAndCopyConfig() {
            let config = this.fieldsConfig;
            this.$copyText(config).then(function (e) {
                alert('Copied');
            }, function (e) {
                alert('Failed to export');
            });
        },
        showImportConfig() {
            this.showImportconfigBox = true;
        },
        doImport() {
            let decodedConfig;
            try {
                decodedConfig = JSON.parse(this.configToImport);
            } catch(e) {
                alert('invalid configuration');
                return;
            }
            if(Object.keys(decodedConfig).length) {
                this.storedData = this.storedData.slice(0).concat(decodedConfig);
                this.showImportconfigBox = false;
                alert('imported');
                return;
            }
            this.showImportconfigBox = false;
            alert('import failed');
        },
        duplicateSelected() {
            let copied = this.selectedItems.slice(0).map((i) => {
                let iCopy = Object.assign({}, i);
                if(typeof iCopy.fieldId != 'undefined') {
                    delete iCopy.fieldId;
                    let newFieldName = iCopy.fieldNameValue.replace(/(\d+)+/g, function(match, number) {
                        return parseInt(number)+1;
                    });
                    if(iCopy.fieldNameValue != newFieldName) {
                        iCopy.fieldNameValue = newFieldName;
                    } else {
                        iCopy.fieldNameValue = iCopy.fieldNameValue + '_copy';
                    }
                    iCopy.checked = false;
                }
                return iCopy;
            });
            this.storedData = this.storedData.slice(0).concat(copied);
            alert('Items have been duplicated and appended to the end of the list');
        },
        removeItem(e, elementIndex) {            
            let newArray = [];
            this.storedData.forEach((item, index) => {
                if(elementIndex == index) {
                    return;
                }
                newArray.push(item);
            });
            this.storedData = newArray;
        },
        addItem(e) {
            this.storedData.unshift(this.getDefaultRowConfig()); 
        },
        getDefaultRowConfig() {
            return { 
                fixed: false,
                fieldNameValue: '',
                fieldTypeOptionValue: 'text',
                descriptionValue: '',
                attribsValue: ''
            }
        },
        updateFieldItem(elementIndex, key, value) {
            let newArray = [];
            this.storedData.forEach((item, index) => {
                if(elementIndex == index) {
                    item[key] = value;
                }
                newArray.push(item);
            });
            this.storedData = newArray;
        },
        updateFieldNameValue(e, elementIndex) {
            this.updateFieldItem(elementIndex, 'fieldNameValue', e.srcElement.value);
        },
        fieldTypeSelectHandler(e, elementIndex) {
            this.updateFieldItem(elementIndex, 'fieldTypeOptionValue', e.srcElement.value);
        },
        updateDescriptionValue(e, elementIndex) {
            this.updateFieldItem(elementIndex, 'descriptionValue', e.srcElement.value);
        },
        updateAttribsValue(e, elementIndex) {
            this.updateFieldItem(elementIndex, 'attribsValue', e.srcElement.value);
        },
        addNewRowBelowItem(e, clickedIndex) {
           if(e.metaKey === true) {
               this.storedData.splice(clickedIndex+1, 0, this.getDefaultRowConfig());
           }
        }
    }
}
</script>

<style scoped>
    .field-groups-editor .form-control, select {
        font-size: 13px;
    }
    .field-groups-editor > .draggable-container > span > div:before {
        content: '';
        height: 100%;
        width: 10px;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/carbon_fibre.png');
        background-repeat: repeat;
        filter: invert(139%) brightness(102%);
        background-size: 145%;
    }
    .field-groups-editor .custom-select {
        height: calc(1.85rem + 2px);
    }
    .field-groups-editor .col-last {
        margin-right: 30px;
    }
    .flip-list-move {
        transition: transform 0.5s;
    }
    .no-move {
        transition: transform 0s;
    }
    .sortable-ghost {
        opacity: .5;
        background: #C8EBFB;
    }
    .draggable-container span  {
        min-height: 30px;
        display: block;
        padding-top: 15px;
    }
    .draggable-container span div {
        background-color: #DDD;
        color: #000;
        width: 100%;
        margin: auto;
        min-height: 20px;
        text-align: left;
        padding-left: 20px;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 0;
        position: relative;
        cursor: move;
    }
    .field-groups-editor .draggable-container span div:hover {
        background-color: #b4eaf1;
    }
    .draggable-container span div input {
        border: none;
        font-size: 15px;
        padding: 3px 10px 3px 10px;
        color: #676767;
        outline: none;
    }
    .draggable-container span div input:focus {
        outline: #03a9f4ba solid 2px;
        color: #616161;
        font-weight: 400;
    }
    .draggable-container select {
        display: inline-block;
    }
     .draggable-container button {
        display: inline-block;
    }
    .draggable-container span div:hover {
        background-color: #DDD;
    }
    .btn-item-remove {
        background: transparent;
        color: #9c9c9c;
        float: right;
        margin-right: 10px;
        border: none;
        position: absolute;
        top: -5px;
        right: -45px;
        font-size: 17px;
        margin-top: 13px;
        margin-right: 17px;
    }
    .btn-item-remove:hover {
        color: red;
    }
    .btn-item-remove i {
        color: black;
    }
    .import-textarea {
        width: 100%;
        margin-top: 18px;
        margin-bottom: 0;
    }
    .hide-import {
        display: block;
        margin-top: 10px;
    }
    .item-checkbox {
        position: absolute;
        left: -7px;
        top: 14px;
    }
    span.hint {
        font-size: 11px;
    }
</style>