<template>
    <div class="file-upload-container">

        <slot name="header"></slot>

        <div :class="(this.isLoading) ? 'ajax-loading' : ''">
            <div class="row">
                <div :class="getImageAreaStyleClassses()">

                    <div v-if="file">
                        <div v-if="fileIsImage" class="img-container" :style="'background-image: url(' + imagePathWithPrefix(thumbnail) +')'">
                        </div>

                        <div v-if="fileIsDoc" class="img-container no-bg">
                            <thumb :file-type="fileType"></thumb>
                        </div>
                    </div>

                </div>
                <div :class="(fileIsImage || fileIsDoc) ? 'col-md-8' : 'col-md-12'">
                    
                    <span v-if="$slots.imageslot" class="field-name">{{ fieldName }} | <slot name="image-slot"></slot></span>
                    <span v-if="false" class="field-name">{{ fieldName }}</span>

                    <span class="messages">{{ messages }}</span>
                    <p v-if="title" class="file-name-text">{{ getFileText() }} </p>
                    
                    <ul class="file-upload-controls">
                        <li>
                            <label>
                                <input type="file" ref="fileBrowse" v-on:change="onFileChange" class="form-control">
                                <button class="btn btn-lg margintop-sm" v-if="!statusUploaded" @click="(e) => { triggerFileBrowser(e) }">Add File</button>
                                <button v-show="allowFieldEdit"  class="btn btn-lg margintop-sm" v-if="statusUploaded" @click="removeImageFromPost">Remove</button>
                            </label>
                        </li>
                        <li v-show="allowFieldEdit">
                            <!-- <button class="btn btn-lg margintop-sm" v-if="!statusUploaded" @click="(e) => { browseMedia(e) }">Browse Media</button> -->
                            <button class="btn btn-lg margintop-sm" v-if="statusUploaded" @click="updateTitle">Update title </button>
                        </li>
                        <li v-show="allowFieldEdit" >
                            <input type="text" :maxlength="titleMaxLength" placeholder="image title" v-if="fileInputValueText" @onkeyUp="(e) => { updateDisplayTitle(e) }" v-model="title" class="image-title-field">
                        </li>
                    </ul>
                    <button v-if="file" @click="(e) => { triggerFileBrowser(e) }" class="btn-add-another-file btn btn-lg margintop-sm" style="">Add Another File</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import Thumb from './Thumb';

    export default {
        name: 'FileUploader',
        components: {Thumb},
        data: function() {
            return {
                file: '',
                fileType: '',
                title: null,
                thumbnail: '',
                attachmentId: null,
                fileInputValueText: null,
                statusUploaded: false,
                isLoading: false,
                messages: '',
                randomNumber: 0
            }
        },
        props: {
            titleMaxLength: {
                type: Number,
                default: 40
            },
            lang: {
                type: String,
                default: null
            },
            fieldName: {
                type: String,
                default: ''
            },
            allowFieldEdit: {
                type: Boolean,
                default: false
            },
            imagePathPrefix: {
                type: String,
                default: ''
            },
            addBySearchComponentId: {
                type: String,
                default: null
            },
            addBySearchSelectedFile: {
                type: Object,
                default: function() {
                    return {
                        title: '',
                        attachmentId: null,
                        file: null,
                        thumbnail: null
                    }
                }
            }
        },
        computed: {
            fileIsImage() {
                if(!this.file) {
                    return false;
                }
                return (this.file.search(/jpe?g|png|svg|gif|svg/) > -1)
            },
            fileIsDoc() {
                if(!this.file) {
                    return false;
                }
                return (this.file.search(/jpe?g|png|svg|gif|svg/) == -1)
            }
        },
        watch: {
            addBySearchSelectedFile: function(selectedFile) {
                if(typeof selectedFile.attachmentId == 'undefined') {
                    this.statusUploaded = false;
                    this.file = null;
                    this.fileType = null;
                    this.title = null;
                    this.thumbnail = null;
                    this.attachmentId = null;
                    this.fileInputValueText = null;
                    return;
                }
                this.randomNumber = Math.random(1000);
                this.file = selectedFile.file;
                this.fileType = selectedFile.fileType
                this.attachmentId = selectedFile.id || selectedFile.attachmentId;
                this.title = selectedFile.title;
                this.thumbnail = selectedFile.thumbnail;
                this.statusUploaded = true;
                this.fileInputValueText = selectedFile.file;
            }
        },
        methods: {
            onUploadSuccess(newItemToAdd) {
                this.$emit('onUploadSuccess', newItemToAdd);
            },
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                
                if (!files.length) {
                    this.fileInputValue = null;
                    return;
                } 
                this.fileInputValueText = files[0].name;
                this.createImage(files[0]);
            },
            updateDisplayTitle(e) {
                e.preventDefault();
                this.title = e.target.value;
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.file = e.target.result;
                    this.upload();
                };
                reader.readAsDataURL(file);
            },
            getLocalizedTitleFieldlName() {
                if(this.lang) {
                    return this.fieldName + '-' + this.lang;
                }
                return this.fieldName;
            },
            upload() {
                this.isLoading = true;
                this.messages = 'uploading...';
                let data = {
                    file: this.file,
                    lang: this.lang,
                    original_file_name: this.fileInputValueText,
                    title: this.fileInputValueText,
                    model: '\\CrowAndRaven\\CMS\\Models\\Attachment'
                }
                //data['title'] = this.title;

                axios.post('/admin/ajaxattachments', data).then(response => {
                    if(response.status == 200 && response.data.success == true && typeof response.data.attachment != 'undefined') {
                        this.statusUploaded = true;
                        let attachment = response.data.attachment;
                        this.attachmentId = attachment.id;
                        this.file = attachment.file_name;
                        this.thumbnail = attachment.thumbnail;
                        this.fileType = attachment.file_type;
                        this.title = attachment.title;
                        this.messages = 'The image successfully uploaded.';
                        this.onUploadSuccess(attachment);
                        setTimeout(() => {
                            this.isLoading = false;
                            this.messages = '';
                        }, 400);
                        
                    } else {
                        this.messages = 'There was a problem uploading the image.';
                        if(typeof response.data.errorMessage != 'undefined') {
                            alert(response.data.errorMessage);
                        }
                        setTimeout(() => {
                            this.isLoading = false;
                            this.messages = '';
                            this.$emit('clearFailedUpload');
                        }, 400);
                        
                    }
                   
                });
            },
            triggerFileBrowser(e) {
                e.preventDefault();
                this.$refs.fileBrowse.click();
            },
            removeImageFromPost(e) {
                e.preventDefault();
                this.file = null;
                this.statusUploaded = false;
                this.fileInputValueText = null;
            },
            browseMedia(e) {
                e.preventDefault();
            },
            getFileText() {
                return `Title: ${ this.title }`;
            },
            updateTitle(e) {
                e.preventDefault();
                if(!this.attachmentId) {
                    console.log('nope');
                    return false;
                }
                this.isLoading = true;
                
                this.messages = 'updating...';
                let data = {
                    fieldValues: {}
                }
                
                data.fieldValues['title'] = this.title;

                axios.post('/admin/ravenfields/attachment/' + this.attachmentId, data).then(response => {
                    if(response.status == 200 && response.data.success == true) {
                        this.messages = 'Updated file title.';
                        this.parentUpdateItem();
                    } else {
                        this.messages = 'There was a problem updating the file title.';
                    }
                    setTimeout(() => {
                        this.isLoading = false;
                        this.messages = '';
                    }, 400);
                });
            },
            imagePathWithPrefix(imagePath) {
                if(imagePath === null) {
                    return '';
                }
                if(imagePath.search(/http?s/) > -1) {
                    return imagePath;
                }
                return this.imagePathPrefix + '/' + imagePath;
            },
            getImageAreaStyleClassses() {
                let classes = ['col-md-4'];

                if(this.fileIsImage) {
                    classes.push('resize-me')
                } else {
                    classes.push('no-inline-styles');
                }
                return classes;
            }
        }
    }
</script>

<style>
    .file-upload-container .img-container {
        position: relative;
        min-height: 170px;
        height: 100%;
        width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: black;
    }
    .file-upload-container .img-container.no-bg {
        background: transparent;
        font-size: 48px;
        min-height: 100px;
        height: 100%;
        width: 100%;
        border: solid thin #CCC;
    }
    .file-upload-container .img-container.no-bg svg {
        display: block;
        margin: auto;
        font-size: 150%;
        margin-top: 12px;
    }
    .file-upload-container input[type="file"] {
        border: none;
        background: transparent;
        outline: none;
        box-shadow: none;
        color: transparent;
    }
    .file-upload-container .file-name-text {
        font-size: 12px;
        margin-top: 40px;
    }
    .file-upload-container .file-upload-controls li {
        display: inline-block;
        width: 25%;
    }
    .file-upload-container .file-upload-controls li:last-child {
        width: 47%;
    }
    .file-upload-container {
        background-color: #FFFFFF;
        box-shadow: 2px 2px 0px -1px #e6e6e6;
        z-index: 101;
        border: none;
        display: inline-block;
        position: relative;
        margin: 0;
        margin-top: 25px;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        border-right: #FFF 10px;
        overflow: scroll;
    }
    .file-upload-container input[type="file"] {
        display: none;
    }
    .file-upload-container .file-upload-controls label {
        width: 100%;
    }
    .file-upload-container .file-upload-controls button {
        padding: 5px 15px;
        display: block;
        font-size: 16px;
        margin-top: 0;
        line-height: 0;
        text-transform: capitalize;
        background: #007f95;
        outline-color: #007f95;
        color: #FFF;
        padding: 13px 5px 13px 5px;
        border-radius: none;
        font-size: 13.3px;
        width: 100%;
    }
    .file-upload-container .btn-add-another-file {
        float: right;
        position: absolute;
        right: 20px;
        bottom: 1px;
        background-color: #007f95;
        border-radius: none;
        color: #efefef;
        border: #007f95;
        font-size: 14.3px;
        padding: 6px 15px 6px 16px;
        text-transform: lowercase;
        outline: none;
    }
    .file-upload-container .file-upload-controls button:hover,
    .file-upload-container .file-upload-controls button:focus {
        color: #FFF;
    }
    .file-upload-container .image-title-field {
        padding: 2px 10px 2px 10px;
        height: auto;
        border: solid 2px #CCC;
        font-size: 12px;
        outline: none;
        margin: 0;
        line-height: inherit;
        color: #676767;
        transform: none;
        width: 100%;
        box-sizing: border-box;
    }
    .file-upload-container > div.ajax-loading:after {
        content: '';
        display: block;
        height: 29px;
        width: 29px;
        background-image: url(/raven/img/spinner.gif);
        position: absolute;
        right: 6px;
        top: 4px;
        background-size: 241%;
        background-repeat: no-repeat;
        background-position: -21px -10px;
        z-index: 100;
        transform: scale(1.2);
    }
    .file-upload-container .messages {
        font-size: 13.3px;
        font-style: oblique;
        margin-bottom: 10px;
        display: block;
    }
    .file-upload-container .small.help-block {
        margin: 0;
    }
    .file-upload-container .field-name {
        font-weight: lighter;
        font-size: 14px;
    }
    .resize-me {
        resize: both;
        overflow: auto;
        position: relative;
    }
    .no-inline-styles {
        width: auto !important;
        height: auto !important;
    }
    .btn-item-hide-component {
        position: absolute;
        top: 4px;
        right: -7px;
        border: none;
        z-index: 100;
        border: transparent;
        opacity: 1;
        transform: scale(0.7);
    }
    @media screen and (max-width: 767px) {
        .file-upload-container .file-upload-controls li {
            width: 100%;
        }
        .file-upload-container .file-upload-controls li:last-child {
            width: 100%;
        }
        .file-upload-container .image-title-field {
            margin-top: 4px;
        }
    }
</style>