<template>
    <div class="json-editor">
        <p>{{ labelText }} | JSON editor </p>
        <button type="button" @click="addItem" class="btn btn-primary btn-lg margintop-sm" >{{ buttonLabel }}</button>
        <button v-if="enableDebug" type="button" @click="printDebugInfoToConsole" class="btn btn-primary btn-lg margintop-sm" >Make Config</button>
        
        <input 
            type="hidden"
            v-model="jsonData"
            :name="fieldName">
            
        <div class="draggable-container">
            <draggable element="span" :list="rows" :options="{group:'items'}" @start="drag=true" @end="drag=false" @sort="onSort">
                
                <div :data-index="index" v-for="(element, index) in rows" :class="(element.highlighted) ? 'recently-dragged': ''">
                    <input 
                        type="text" 
                        v-model="element.itemKey"
                        placeholder="Type a key name here">

                    <input 
                        type="text" 
                        v-model="element.itemValue"
                        placeholder="Type a value here">
                    
                    <button @click="(event) => { removeItem(event, index) }" type="button" class="btn-item-remove">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
                
            </draggable>
        </div>
    </div>
</template>

<script>
import Vuex from 'vuex'
import Draggable from 'vuedraggable'

import Vue from 'vue'
Vue.use(Vuex);

const store = new Vuex.Store({
    state: {
        rows: []
    },
    mutations: {
        addRow (state, newItem) {
            this.state.rows.push(newItem);
        },
        updateRows (state, data) {
            this.state.rows = data.rows;
        },
    }
});

export default {
    name: 'JsonEditor',
    store,
    components: {
        Draggable
    },
    props: {
        fieldName: {
            type: String
        },
        fieldDataUrl: {
            type: String
        },
        labelText: {
            type: String,
            default: ''
        },
        buttonLabel: {
            type: String,
            default: 'Add item'
        },
        enableHintField: {
            type: Boolean,
            default: false
        },
        enableDebug: {
            type: Boolean,
            default: false
        }
    },
    data: function () {
        return {}
    },
    computed: {
        rows: function() {
            return this.$store.state.rows;
        },
        jsonData: function() {
            return this.makeConfig();
        }
    },
    created() {
        this.getSavedData();
    },
    methods: {
        onSort(e) {
            let newArray = [];
            let higlightedIndex = null;
            this.$store.state.rows.forEach((item, index) => {
                item.order = index;
                if(index === e.newIndex) {
                    item.highlighted = true;
                    higlightedIndex = index;
                } else {
                    item.highlighted = false;
                }
                newArray.push(item);
            });
            store.commit('updateRows', { rows: newArray });
            
            setTimeout(() => { 
                let rows = this.rows.slice(0);
                rows[higlightedIndex].highlighted = false;
                store.commit('updateRows', { rows: rows });
            }, 500);
        },
        makeConfig() {
            return JSON.stringify({
                rows: this.rows
            });
        },
        printDebugInfoToConsole() {
            console.log(JSON.parse(this.makeConfig()));
        },
        getSavedData() {
            $.ajax({
                type: 'get',
                url: this.fieldDataUrl,
                dataType: 'json'
            }).then((d) => {
                if(d.success) {
                    this.$store.state.rows = d.data.rows;
                }
            });
        },
        removeItem(e, elementIndex) {            
            let newArray = [];
            this.$store.state.rows.forEach((item, index) => {
                if(elementIndex == index) {
                    return;
                }
                newArray.push(item);
            });
            store.commit('updateRows',{ rows: newArray });
        },
        addItem(e) {
            store.commit('addRow', { 
                itemKey: '', 
                itemValue: '',
                order: this.rows.length
            });
        }
    }
}
</script>

<style>
    .json-editor .flip-list-move {
        transition: transform 0.5s;
    }
    .json-editor .no-move {
        transition: transform 0s;
    }
    .json-editor div[draggable=true],
    .json-editor .recently-dragged {
        background-color: rgb(213, 249, 251) !important;
    }
    .json-editor .sortable-ghost {
        opacity: .5;
        background: #C8EBFB;
    }
    .json-editor .draggable-container span  {
        min-height: 30px;
        display: block;
        padding-top: 15px;
    }
    .json-editor .draggable-container span div:nth-child(odd) {
        background-color: #E4E4E4;
    }
    .json-editor > .draggable-container > span > div {
        background-color: #F1F1F1;
        border: none;
        color: #000;
        width: 100%;
        margin: auto;
        min-height: 20px;
        text-align: left;
        padding-left: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        cursor: move;
    }
    .json-editor > .draggable-container > span > div:before {
        content: '';
        height: 100%;
        width: 10px;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/carbon_fibre.png');
        background-repeat: repeat;
        filter: invert(139%) brightness(102%);
        background-size: 145%;
    }
    .json-editor > .draggable-container > span > div > input {
        border: none;
        font-size: 12px;
        padding: 3px 10px 3px 10px;
        color: #676767;
        outline: none;
        width: 42%;
    }
    .json-editor .draggable-container span div input:focus {
        outline: #03a9f4ba solid 2px;
        color: #616161;
        font-weight: 400;
    }
    .json-editor .draggable-container select {
        display: inline-block;
    }
     .json-editor .draggable-container button {
        display: inline-block;
    }
    .json-editor .btn-item-remove {
        background: transparent;
        color: #9c9c9c;
        float: right;
        margin-right: 10px;
        border: none;
        position: absolute;
        right: -10px;
        top: 0;
        font-size: 17px;
        margin-top: 6px;
        margin-right: 17px;
    }
    .json-editor .btn-item-remove:hover {
        color: red;
    }
    .json-editor .btn-item-remove i {
        color: black;
    }
    .json-editor .btn-lg {
        padding: 5px 15px;
        font-size: 16px;
        line-height: 1.433333;
        text-transform: capitalize;
        background: #6392a2;
        outline-color: #6392a2;
    }
</style>