<template>
    <div class="quiz-editor">
        <button type="button" @click="addItem" class="btn btn-primary btn-md margintop-sm" >{{ buttonLabel }}</button>
        <button v-if="enableDebug" type="button" @click="printDebugInfoToConsole" class="btn btn-primary btn-md margintop-sm" >Make Config</button>
        
        <input 
            type="hidden"
            v-model="quizConfig"
            name="config">
            
        <div class="draggable-container">
            <draggable element="span" :list="questions" :options="{group:'items'}" @start="drag=true" @end="drag=false" @sort="onSort">
                
                <div :data-index="index" v-for="(element, index) in questions">
                    <input 
                        type="text" 
                        v-model="element.questionText"
                        placeholder="Type a question here.">

                    <input 
                        v-if="enableHintField"
                        type="text" 
                        v-model="element.hintText"
                        placeholder="Type a hint here.">

                    <add-multiple-editor 
                        :parentIndex="index" 
                        button-label="Add Answer"
                        @onEdit="updateQuestionAnwsers"
                        parent-items-name="questions"
                        child-items-name="answers"
                        add-button-help-text="The checkboxes below indicates a correct answer"
                        :enable-checkbox-field="true">
                    </add-multiple-editor>
                    
                    <button @click="(event) => { removeItem(event, index) }" type="button" class="btn-item-remove">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
                
            </draggable>
        </div>
    </div>
</template>

<script>
import Vuex from 'vuex'
import Draggable from 'vuedraggable'
import md5 from 'md5';
import AddMultipleEditor from './AddMultipleEditor';

import Vue from 'vue'
Vue.use(Vuex);

const store = new Vuex.Store({
    state: {
        questions: []
    },
    mutations: {
        addQuestion (state, newItem) {
            this.state.questions.push(newItem);
        },
        updateQuestions (state, data) {
            this.state.questions = data.questions;
        },
        setQuestionAnswers (state, data) {
            this.state.questions.map((item, index) => {
                if(index === data.questionIndex) {
                    item.answers = data.answers;
                }
            });
        }
    }
});

export default {
    name: 'QuizEditor',
    store,
    components: {
        Draggable,
        AddMultipleEditor
    },
    props: {
        buttonLabel: {
            type: String,
            default: 'Add item'
        },
        enableHintField: {
            type: Boolean,
            default: false
        },
        enableDebug: {
            type: Boolean,
            default: false
        }
    },
    data: function () {
        return {}
    },
    computed: {
        questions: function() {
            return this.$store.state.questions;
        },
        quizConfig: function() {
            return this.makeConfig();
        }
    },
    created() {
        this.$store.state.questions = quizQuestionItems.questions.slice(0);
    },
    methods: {
        onSort(e) {
            let newArray = [];
            this.$store.state.questions.forEach((item, index) => {
                item.order = index;
                newArray.push(item);
            });
            store.commit('updateQuestions',{ questions: newArray });
        },
        makeConfig() {
            return JSON.stringify({
                questions: this.questions
            });
        },
        printDebugInfoToConsole() {
            console.log(JSON.parse(this.makeConfig()));
        },
        removeItem(e, elementIndex) {            
            let newArray = [];
            this.$store.state.questions.forEach((item, index) => {
                if(elementIndex == index) {
                    return;
                }
                newArray.push(item);
            });
            store.commit('updateQuestions',{ questions: newArray });
        },
        updateQuestionAnwsers(data) {
            store.commit('setQuestionAnswers', { 
                answers: data.itemData, 
                questionIndex: data.parentIndex 
            });
        },
        addItem(e) {
            store.commit('addQuestion', { 
                questionText: '', 
                hintText: '',
                answers: [],
                order: this.questions.length
            });
        }
    }
}
</script>

<style>
    .quiz-editor .flip-list-move {
        transition: transform 0.5s;
    }
    .quiz-editor .no-move {
        transition: transform 0s;
    }
    .quiz-editor .sortable-ghost {
        opacity: .5;
        background: #C8EBFB;
    }
    .quiz-editor .draggable-container span  {
        min-height: 30px;
        display: block;
        padding-top: 15px;
    }
    .quiz-editor > .draggable-container > span > div {
        background-color: #f1f1f1;
        border: none;
        color: #000;
        width: 100%;
        margin: auto;
        min-height: 20px;
        text-align: left;
        padding-left: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
        cursor: move;
    }
    .quiz-editor > .draggable-container > span > div:before {
        content: '';
        height: 100%;
        width: 10px;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/carbon_fibre.png');
        background-repeat: repeat;
        filter: invert(139%) brightness(102%);
        background-size: 145%;
    }
    .quiz-editor > .draggable-container > span > div > input {
        border: none;
        font-size: 12px;
        padding: 3px 10px 3px 10px;
        color: #676767;
        outline: none;
        width: 42%;
    }
    .quiz-editor .draggable-container span div input:focus {
        outline: #03a9f4ba solid 2px;
        color: #616161;
        font-weight: 400;
    }
    .quiz-editor .draggable-container select {
        display: inline-block;
    }
     .quiz-editor .draggable-container button {
        display: inline-block;
    }
    .quiz-editor .btn-item-remove {
        background: transparent;
        color: #9c9c9c;
        float: right;
        margin-right: 10px;
        border: none;
        position: absolute;
        top: 2px;
        right: -10px;
        font-size: 17px;
        margin-top: 13px;
        margin-right: 17px;
    }
    .quiz-editor .btn-item-remove:hover {
        color: red;
    }
    .quiz-editor .btn-item-remove i {
        color: black;
    }
</style>